# Built application files
*.apk
*.aab
*.aar
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Gradle files
.gradle/
build/
local.properties

# Local configuration files
.env
.env.local
.DS_Store

# IDE specific files (Android Studio)
.idea/caches/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/deploymentTargetSelector.xml
.idea/runConfigurations.xml
.idea/codeStyles/
.idea/AndroidProjectSystem.xml
.idea/compiler.xml
.idea/migrations.xml
.idea/assetWizardSettings.xml
.idea/inspectionProfiles/

# Modules files
.idea/modules/
*.iml

# Kotlin files
*.kt.log
*.kt.test.log
.kotlin/

# Keystore files
*.jks
*.keystore

# firebase
google-services.json
